*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.nav_bar{
    height: 120px;
    background-color: blue;
    margin: auto;
}

.box{
    width: 50px;
    height: 50px;
    border: solid black;
    background-color: aqua;
    border-width: .1rem;
}

#output{
    width: calc(100% - (1000px / 10 + 3rem)); 
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#select_difficult{
    width: 150px;
}

#button{
    width: 80px;
}